@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.home {
    width: 100%;
    height: 100vh;
    overflow:-moz-hidden-unscrollable;
}

::-webkit-scrollbar {
    display: none;
}

.background {
    height: 120vh;
    width: 100vw;
    margin-top: -25%;
}

.body {
    padding-top: 60px;
}

.imgInsta {
    color: #ffe3db;
    text-decoration: none;
    margin-left: 50%;
    align-items: center;
    display: flex;
}

.footer {
    align-items: flex-end;
    align-self: flex-end;
    justify-content: end;
    justify-self: end;
    justify-items: end;
    height: 100vh;
}

