*{
    margin: 0;
    padding: 0;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    pointer-events: "all";
    transition: box-shadow 0.5s;
}

.logo:hover {
    box-shadow: 0 0 20px #fff, 0 0 30px #5ae1e6, 0 0 40px #294578, 0 0 50px;
    z-index: 0;
}

.header{
    display: flex;
    align-items: center;
    height: 25vh;
    padding-top: 0.2vh;
    justify-content: center;
}


.header-blue{
    display: flex;
    align-items: center;
    height: 25%;
    padding-top: 2vh;
    justify-content: center;
    background-color: #0b2047;
}

.header headerleft {
    justify-content: end;
    display: flex;
    align-items: center;
    width: 40vw;
}

.header headercenter {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.header headerright {
    display: flex;
    width: 40vw;
}

.link {
    background: none;
    font: 500 4vh Ubuntu;
    color: #2f5397;
    text-decoration: none;
    transition: color 0.5s;
    transition: text-shadow 0.7s;   
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

@media (max-width: 1024px) {

    .header headerright {
        display: none;
    }
    .header headerleft {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .logo{
        margin-left: 80vw;
    }

    .navbar-menu {
        display: flex;
        justify-content: flex-end;
    }

    .link{
        font: 500 2vh Ubuntu;
    }

    .separator{
        background-color: #294578;
        width: 18vw;
        height: 1px;
    }
}
.left {
    margin-right: 7vw;
}

.right {
    margin-left: 7vw;
}

.menu {
    
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.link:hover{
    color:#e7e7e7d5;
    text-shadow: 0 0 20px #fff, 0 0 30px #5ae1e6, 0 0 40px #294578, 0 0 50px #294578, 0 0 60px #294578, 0 0 70px #294578;
}

.navbar-menu_container {
    display: flex;
    justify-content:end;
    flex-direction: column;
    background-image: linear-gradient(180deg, #5ae1e6, #395c9ecc);
    /* padding: 1rem; */
    position: fixed;
    top: 0vh;
    /* margin-top: 2rem; */
    /* min-width: 100px; */
    min-width: 300px;
    width: auto;
    max-width: 375px;
    /* min-height: 150px; */
    height: 100%;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 5px rgba(0,0, 0,0.2); */
}

.close-menu-modal-btn {
    position: fixed;
    top: 4vh;
    right: 3vw;
}

.open-menu-modal-btn {
    margin-right: 5vw;
}

.navbar-menu_container-links{
    display: flex;
    height: 72%;
    flex-direction: column;
    align-items:center;
    border: #294578;
    border-width: 20px;
}

.navbar-menu_container-social-medias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b2047;
    height: 10%;
    width: 100%;
}

.navbar-menu_container-social{
    margin-left: 3%;
    margin-bottom: 3%;
    color: #1445a0;
    font: 500 2.2vh Ubuntu;

}